/* resources/js/components/Home.css */
.home-container {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 60px; /* Ajusta el margen izquierdo */
}

/* Estilos para el menú deslizante */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 20px; /* Ajusta la posición del botón */
    top: 20px; /* Ajusta la posición del botón */
}

.bm-burger-bars {
    background: #373a47;
}

.bm-burger-bars-hover {
    background: #a90000;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #fff;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.logout-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.logout-button:hover {
    text-decoration: underline;
}